<%=simple_form_for [:mobile,@shopping] ,:html=>{:class=>"input-group"} do |f| %>
  <div class="input-row">
    <label>配送时间</label>
		<select name="abc">
		<option value=0>11:30 - 12:30</option>
		<option value=1>16:30 - 17:30</option>
		<option value=2>21:00 - 21:30</option>
		</select>
  </div>
	<%=f.hidden_field :cart_id%>
	<%=f.hidden_field :remark%>

  <div class="input-row">
    <label>联系人</label>
		<%=f.text_field :customer_name,:placeholder=>"如:张三、李同学"%>
	</div>
	<div class="input-row">
    <label>电话</label>
		<%=f.text_field :mobile,:placeholder=>"如:13512345678"%>
	</div>
	<div class="input-row">
    <label>地址</label>
		<%=f.text_field :customer_address,:placeholder=>"如:南校区一公寓1号楼999"%>
	</div>
	
<%end%>

<button class="btn btn-block submit-cart">提交订单</button>


<script>
 $(document).ready(function(){
  $("button").click(function(){
    $("form").submit();
  });
});
</script>

