<%=render 'shared/error_messages',:target=>@article%>

<%=simple_form_for([:admin,@article],:html=>{:class=>"form-horizontal"}) do |f|%>
	<%= f.input :title,:input_html=>{:class=>"form-control"}%>
	<%= f.input :keywords,:input_html=>{:class=>"form-control"}%>	
	<%= f.input :breif,:input_html=>{:class=>"form-control"}%>	
	<%= f.input :article_cate_id,:collection=>ArticleCate.all,:label_method=>:name,:value_method=>:id,:input_html=>{:class=>"form-control"}%>	
	
	<%= f.input :cover%>
	
	<%= f.input :hidden,:input_html=>{:class=>"form-control"}%>
	<%= f.input :content%>
	
	<div class="form-actions">
		<%=link_to "返回列表", admin_articles_path,:class=>"btn"%>
		<button type="submit" class="btn btn-primary pull-right">保存</button> 
	</div> <!-- /form-actions -->
<%end%>
<script type="text/javascript">
$(document).ready(function(){
	var editor = new Simditor({
	  textarea: $('#article_content'),
	  toolbar:[
		  'title' ,
		  'bold'   ,
		  'italic' ,
		  'underline'  ,
		  'strikethrough' ,
		  'ol'  ,
		  'ul'   ,
		  'blockquote' ,
		  'table'    ,
		  'link'      ,
		  'image' ,
		
		  'hr'      ,       
		  'indent'  ,      
		  'outdent'  
			],
		 defaultImage: '/images/logo.jpg',
		 pasteImage: true,
		 upload:{
		   'url': '/admin/pictures/upload',
		   'params': {'module':"article"},
		   'connectionCount': 1,
		   'leaveConfirm': '正在上传文件，如果离开上传会自动取消'}
	});
});

</script>
