<%=render 'shared/error_messages',:target=>@product%>

<%=simple_form_for([:admin,@product],:html=>{:class=>"form-horizontal"}) do |f|%>
<fieldset>
	<div class="row">
    <div class="col-md-3">
        <div class='lead'>
            <i class='icon-th-large text-contrast'></i>
            总库商品信息
        </div>
				<%=image_tag @product.cover_url(:normal)%>
    </div>
    <div class="col-md-9">
			<%=f.input :name,:input_html=>{:class=>"form-control"}%>
			<%=f.input :no,:input_html=>{:class=>"form-control"}%>
			<%=f.input :cover%>
			<%= f.input(:product_cate_id, :collection => ProductCate.all,
			       :label_method => :name,
			       :value_method  => :id,
			       :include_blank => "选择商品分类")%>
			
			<%=f.input :mk_price,:input_html=>{:class=>"form-control"}%>
			<%=f.input :price,:input_html=>{:class=>"form-control"}%>	
			<%=f.input :unit,:input_html=>{:class=>"form-control"}%>
			<%= f.input :on_sale,:html=>{:class=>"form-control"},:collection=>[["上架",1],["下架",0]],:include_blank=>false%>
				
				
			<%=f.input :priority,:input_html=>{:class=>"form-control"}%>
			
			<%=f.input :keywords,:placeholder=>"多个关键字用空分开",:input_html=>{:class=>"form-control"}%>
			<%=f.input :brief,:input_html=>{:class=>"form-control"}%>
			<%=f.input :content%>	

		</div>

	</fieldset>
		<div class="form-actions">
			<%=link_to "返回列表", admin_products_path,:class=>"btn"%>
			<button type="submit" class="btn btn-primary pull-right">保存</button> 
			
		</div> <!-- /form-actions -->
<%end%>

<script type="text/javascript">
$(document).ready(function(){
	var editor = new Simditor({
	  textarea: $('#product_content'),
	  toolbar:[
		  'title' ,
		  'bold'   ,
		  'italic' ,
		  'underline'  ,
		  'strikethrough' ,
		  'ol'  ,
		  'ul'   ,
		  'blockquote' ,
		  'table'    ,
		  'link'      ,
		  'image'
			],
		 defaultImage: '/images/logo.png',
		 pasteImage: true,
		 upload:{
		   'url': '/admin/pictures/upload',
		   'params': {'module':"product"},
		   'connectionCount': 1,
		   'leaveConfirm': '正在上传文件，如果离开上传会自动取消'}
	});
});
</script>

