<div id="remodal_window" class="remodal" data-remodal-id="modal">
    <h1><%=product.name%></h1>
		<%=image_tag product.cover_url(:normal) ,:class=>"product_cover"%>
		<ul class="modal_content">
			<li>价格: <%=number_to_currency product.price,:unit=>"&yen"%> /<%=product.unit%></li>
			<li>积分:0</li>
			<li>描述:<%=raw product.content%></li>
		</ul>
</div>