<style>
.table-view-cell {
	padding-right:0px;
	padding-bottom:0px;
}
</style>

<div id="box">
	<div class="nav_side">
		<%=render 'product_cate'%>
	</div>
	<div class="nav_content">			
		<%=render 'product_cate_list'%>
	</div>
</div>


	<div id ="contentbottom">
		<span id="total_count">已选 <%=current_cart.try(:total_count)%> 件</span>
		<span id="total_amount">总计  <%=current_cart.try(:total_amount)%> 元</span>
		<%=link_to edit_mobile_cart_path(current_cart), :class=>"btn btn-outlined pull-right","data-ignore"=>"push" do%>
			选好了
		<%end%>
	</div>
<div id="remodal_window" class="remodal" data-remodal-id="modal">

</div>

<script type="text/javascript">

	$(function(){

		$(".active.tab_content").show();
		$(".nav_menu  li.menu_item").click(function(){
			$clicked = $(this);
			if ($clicked.css("active") != "1") {
				$(".active").removeClass("active");
				$(this).addClass("active");
				
				var idToLoad = $clicked.attr("target");
				$(".tab_content").hide();
				$("#"+idToLoad).show();
				
	  	}
		});
		
		
	});
	
</script>